.header {
    padding: 25px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

nav {
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    background: #1abc9c;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
}

nav a:hover {
    background: #2c8775;
}

.page-body {
    padding: 10px 30px;
}

.inline {
    display: inline-flex;
}

.project-image {
    border-radius: 5px;
}

.image-div {
    padding-right: 10px;
}

.project-title {
    font-size: 23px;
}

.seeMoreButton {
    margin: 20px 15px;
    background-color: #1abc9c;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size: 20px;
    padding: 10px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.seeMoreButton:hover {
    background-color:#2c8775;
}
.seeMoreButton:active {
    position:relative;
    top:1px;
}

* {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #3aceb1;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #3aceb1;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #3aceb1;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #3aceb1;
    border-width: 10px 10px 10px 0;
    border-color: transparent #3aceb1 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #3aceb1;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid #3aceb1;
        border-width: 10px 10px 10px 0;
        border-color: transparent #3aceb1 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.center-image {
    margin: auto;
    width: 817px;
}
