.header {
    padding: 25px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

nav {
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    background: #1abc9c;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
}

nav a:hover {
    background: rgb(44, 135, 117);
}

.page-body {
    padding: 10px;
}

